h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font-family: "Open Sans";
    font-size: 18px;
    strong {
        font-family: "Open Sans bold";
    }
}

.title {
    font-family: "Noto Serif";
    strong {
        font-family: "Noto Serif Bold";
    }
} 

.subtitle {
    font-family: "Open Sans";
    strong {
        font-family: "Open Sans bold";
    }
}

.abertura {
    @include flex(flex, center, center);
    
    background-image: url('../assets/image/img-abertura.jpg');
    background-position: center;
    background-size: cover;
    height: calc(130vh - 100px);

    .containerCurso {
        text-align: right;
        color: $color-1;
    }
}

.banner {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background-color: $color-14;
        width: 500px;
        height: 60px;
        top: 20px;
        left: -520px;
    }
}

.video {
    @include flex(flex, center, center);
    width: 100%;
}

.card-content {
    @include flex(flex, center, center);
    .card {
        @include flex(flex, center, center);
        width: 350px;
        height: 350px;
        color: $color-1;
        
        .front {
            position: relative;
            border-radius: 10px;
            background-color: $color-4;
            @include flex(flex, center, center);
            
            &::before {
                background-image: url('../assets/image/icon-plus.png');
                position: absolute;
                content:"";
                height: 25px;
                width: 25px;
                bottom:10px;
                right:10px;
            }
        }

        .back {
            border-radius: 10px;
            background-color: $color-4;
            @include flex(flex, center, center);
            flex-direction: column;
            padding: 30px;
        }
    }
}

.imagem-negativa {
    margin-left: -200px;
}

.box-audio {
    @include flex(flex, center, center);

    .audio-content {
        background-color: $color-4;
        padding: 50px 20px;
        border-radius: 10px;
        margin-top: 100px;
        margin-right: -30px;
        .icone {
            display: flex;
            p {
                padding-left:40px;
                color: $color-6;        
            }
        
            padding: 20px;
        }
        
        .audio {
            @include flex(flex, center, center);
        }
    }
}


.final {
    @include flex(flex, center, center);
    background-color: $color-14;
    background-image: url('../assets/image/img-final.jpg');
    background-repeat: no-repeat;
    background-position: center -30px;
    background-size: cover;
    height: 50vh;
     
    .containerCurso {
        text-align: right;
        color: $color-1;
    }
}