html, body {
    overflow-x: hidden;
    counter-reset: ordered-list;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p, ol, ul, li {
    font-family: "Open Sans";
    font-size: 18px;
    strong {
        font-family: "Open Sans bold";
    }
}
.d-none {
    display: none !important;
}
.img-100 {
    width: 100%;
}

.title {
    font-family: "Noto Serif";
    strong {
        font-family: "Noto Serif Bold";
    }
} 

.subtitle {
    font-family: "Open Sans";
    strong {
        font-family: "Open Sans bold";
    }
}

.opening {
    @include flex(flex, center, center);
    
    background-image: url('../assets/image/img-abertura.jpg');
    background-position: center;
    background-size: cover;
    height: calc(130vh + 100px);

    .containerCurso {
        text-align: right;
        color: $color-1;
    }
}

.video {
    @include flex(flex, center, center);
    width: 100%;
}

.card-content {
    @include flex(flex, center, center);
    width: 100%;
    .card {
        @include flex(flex, center, center);
        width: 350px;
        height: 350px;
        color: $color-1;
        width: 100%;
        
        .front {
            position: relative;
            border-radius: 10px;
            border: 2px solid $color-20;
            background-color: $color-1;
            @include flex(flex, center, center);
            cursor: pointer;
            &::before {
                background-image: url('../assets/image/icon-plus.png');
                position: absolute;
                content:"";
                height: 25px;
                width: 25px;
                bottom:10px;
                right:10px;
            }
        }
        
        .back {
            border-radius: 10px;
            border: 1px solid $color-20;
            background-color: $color-1;
            @include flex(flex, center, center);
            flex-direction: column;
            padding: 30px;
            cursor: pointer;
            p {
                border-radius: 10px;
                padding: 30px 100px;
                background-color: $color-20;
            }
        }
    }
}

.text-destaque {
    border-radius: 8px;
    padding: 20px 60px;
    background-color: $color-20;
    width: 100%;
    color: $color-1;
}
.titulo-destaque {
    padding: 20px 20px;
    background-color: $color-20;
    width: 100%;
    color: $color-1;
}

.cardboard {
    @include flex(flex, center, center);
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid $color-20;
    background-color: $color-1;
    height: 400px;
    padding: 35px;
    text-align: center;
}



.imagem-negativa {
    margin-left: -200px;
}

.box-audio {
    @include flex(flex, center, center);
    position: relative; 
    width: 100%;
    height: 300px;
    .audio-content {
        @include flex(flex, center, center);
        background-color: $color-4;
        padding: 50px 20px;
        border-radius: 10px;
        position: absolute;
        margin-right: -30px;
        width: 100%;
        height: 170px;

       
    
        .icone {
            display: flex;
            p {
                padding-left:40px;
                color: $color-6;        
            }

            img {
                margin: auto; 
                margin-right: 50px;
            }
            padding: 20px;
        }
        
        .audio {
            @include flex(flex, center, center);
        }

        .jwplayer {
            margin: 0 auto;
            .jw-background-color  {
                background-color: #FFF;
            }
            .jw-button-color {
                color: #ffb835 !important;
            }
            .jw-icon-rewind {
                display: none;
            }
            .jw-knob {
                background-color: #ffb835;
                width: 0.6em;
                height: 0.6em;
                border: 2px solid #bac4b9;
            }
            .jw-progress {
                background-color: #ffb835;
            }
            .jw-rail {
                background-color: #bac4b9;
            }
        }
    }
}

  
$accordionColors:( 
    "one":#f7932d,
    "two":#ffb835,
    "three":#d2d532, 
    "four":#bdd646,
    "five":#89c64b, 
    "six":#04a89f, 
    "seven":#0b8ac9, 
    "eight":#0071b3, 
    "nine":#974196, 
    "ten":#de3583
);

@each $key, $color in $accordionColors {
    .accordion {
        .#{$key} {
            background-color: $color;
        }
        .accordion-content {
            &.#{$key} {
                background-color: $color;
                .content {
                    background-color: lighten($color, 30%);
                }
            }
        }
    }
}

.accordion {
    padding: 0 0 2px 0;

    .accordion-header {
        padding: 20px;
        color: $color-1;
        // border-bottom: 1px solid black;
        cursor: pointer;

        h4 {
            position: relative;
            margin-left: 70px;
            &::before {
                @include flex(flex, center, center);
                position: absolute;
                content: "+";
                top: -7px;
                left: -70px;
                height: 0px;
                width: 10px;
                padding: 20px;
                background-color: #bac4b9;
            }
        }

        &.ui-state-active {
            h4 {
                &::before {
                    content: "\2013";
                }
            }
        }
    }

    .accordion-content {
        padding: 0px 5px 5px 5px;
        // margin: 0 5px 5px 5px;
        .content {
            padding: 40px;
        }
    }
}




.featured {
    position: relative;
    background-color: #e6e6e6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 50px;
    color: $color-6;
    a  {
        color: $color-6;
    }
    
    &::before {
        position: absolute;
        content: "";
        background-color: #e6e6e6;
        height: 230px;
        width: 200px;
        top: 0;
        left: -200px;
        @media screen and (max-width: 1080px) {
            display: none;
        }
    }

}

.ordered-list {
    counter-reset: my-sec-counter;
    margin-left: 150px;
    @media screen and (max-width: 470px) {
        margin-left: 100px;
    }
    li {
        position: relative;
        padding: 25px 0;
        &:before {
            position: absolute;
            @include flex(flex, center, center);
            counter-increment: ordered-list;
            content:counter(ordered-list);
            background-color: $color-14;
            border-radius: 5px;
            padding: 30px;
            height: 20px;
            width: 20px;
            top: 25px;
            left: -80px;
            color: $color-1;
            font-size: 36px;
            font-weight: 900;
        }
    }
}

.box-featured {
    background-color: $color-14;
    color: $color-1;
    padding: 40px 80px 40px 40px;
    border-radius: 10px;
    margin: 150px 0;
    @media screen and (max-width: 800px) {
        padding: 30px;
        text-align: center;
        margin: 50px 0;
    }
    .box-img {
        position: relative;
        img {
            position: absolute;
            top: -210px;
            left: 0px;
            @media screen and (max-width: 1000px) {
                top: -150px;
            }
            @media screen and (max-width: 800px) {
                position: relative;
                top: unset;
                left: unset;
                margin:0 auto;
                width: 100%;
            }
        }
        @media screen and (max-width: 800px) {
            text-align: center;
        }
    }
}


.end {
    @include flex(flex, center, center);
    background-color: $color-14;
    background-image: url('../assets/image/img-final.jpg');
    background-repeat: no-repeat;
    background-position: center -30px;
    background-size: cover;
    height: 50vh;
     
    .containerCurso {
        text-align: right;
        color: $color-1;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 50px !important;
    }
    
    h2 {
        font-size: 40px !important;
    }
    
    h3 {
        font-size: 22px !important;
    }
    
    h4 {
        font-size: 18px !important;
    }
    
    h5 {
        font-size: 16px !important;
    }
    
    p, ol, ul, li {
        font-family: "Open Sans";
        font-size: 16px !important;
        strong {
            font-family: "Open Sans bold";
        }
    }
}
@media screen and (max-width: 580px) {
    .opening {
        .containerCurso {
            h1 {
                font-size: 40px !important;
            }
            h2 {
                font-size: 32px !important;
            }
        }
    }
}