.card-content {
    @include flex(flex, center, center);
    .card {
        @include flex(flex, center, center);
        width: 350px;
        height: 350px;
        color: $color-1;
        
        .front {
            position: relative;
            border-radius: 10px;
            background-color: $color-4;
            @include flex(flex, center, center);
            cursor: pointer;
            &::before {
                background-image: url('../assets/image/icon-plus.png');
                position: absolute;
                content:"";
                height: 25px;
                width: 25px;
                bottom:10px;
                right:10px;
            }
        }
        
        .back {
            border-radius: 10px;
            background-color: $color-4;
            @include flex(flex, center, center);
            flex-direction: column;
            padding: 30px;
            cursor: pointer;
        }
    }
}